@media ( max-width: 1200px  )
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .swiper
    &-slide
      &__imge
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .other
    &__container
      max-width: 960px
      justify-content: center
      grid-template-columns: repeat(auto-fill, 350px)
  .footer
    &__imput
      flex-basis: 100%
@media ( max-width: 992px  )
  .container, 
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &__top
      padding-top: 30px
      padding-bottom: 30px
    &__serch
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px 
        line-height: 15px
  .search
    &__imput
      width: 340px
  .hotel
    &-gred
      flex-direction: column
      width: 100%
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px  
  .map
    width: 340px
  .reviews
    &-title
      font-style: normal
      font-weight: bold
      font-size: 30px
      line-height: 38px
      text-align: center
      text-transform: uppercase
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 580px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 250px
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__imput
      flex-basis: 49%
    &__logo
      grid-row: 1/2
      grid-column: span 2  
    &__social
      &-network
        grid-row: 1/2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2/3
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__additional
      grid-column: span 2 
    &__cantact
      &-derails
        grid-column: span 5
      &-form
        grid-column: span 5
        grid-row: 4
    &__bottom
      grid-column: 1/6
      grid-row: span 6
@media ( max-width: 768px  )
  .container
    max-width: 576px
    width: 92%
  .other
    &__container
      max-width: 576px
      margin: auto
      column-gap: 15px
      justify-content: center
      grid-template-columns: repeat(auto-fill, 350px)
    &-van
      &__card
        display: none
  .navbar
    &--mobail
      &__fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__search, &__user
      &--mobail
        &_hiden
          display: none
        &_visible
          display: flex
    &-buttom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      z-index: 99
      padding-top: 10px
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobail
          &_visible
            display: flex
    &__user
      flex-direction: column
      text-align: center

  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--mobail
        &_light
          color: $light
          margin-left: 0
          margin-top: 10px
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .hotel
    &-right
      flex-direction: column
      min-height: 450px 
    &-slider
      height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: start
  .reviews
    &-title
      font-style: normal
      font-weight: bold
      font-size: 30px
      line-height: 38px
      text-align: center
      text-transform: uppercase
      margin-bottom: 50px
    &-slider
      &__item
        padding: 0 30px 30px
        &:after,&:before
          display: none
      &__button
        top: 32px        
        &--prev
          margin-left: -65px 
          left: 50%
          transform: translate(-50%,0)
        &--next
          margin-right: -65px
          right: 50%  
          transform: translate(50%,0)
  .activities
    pading-top: 40px
    margin-bottom: 60px
  .card
    width: 49%
    height: 255px
  .footer
    &__imput
      flex-basis: 100%
@media ( max-width: 576px )
  .other
    &__container
      max-width: 576px
      justify-content: center
      grid-template-columns: repeat(auto-fill, 350px)
    &-van
      &__card
        display: none
  .logo
    width: 99px  
  .hotel
    &-slider
      height: 250px
    &__slider
      margin-bottom: 20px
  .newsletter
    padding: 76px 0 83px 0  
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    &-title
      max-width: 345px
      margin: auto
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-align: start
      text-transform: uppercase
      margin-bottom: 40px
  .card
    width: 100%
  .footer
    &-wrapper
      grid-template-columns: 1fr
      grid-gap: 0
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5px
      grid-column: 1
    &__cantact
      &-derails
        grid-row: 6
        flex-basis: 100%
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__bottom
      display: flex
      flex-wrap: wrap
      &--mr
        grid-row: 8
        grid-column: 1
      &--text
        margin-right: 7px
      &--img
        margin-top: 10px
        grid-row: 9
        grid-column: 1
    &__button
      order: 2
    &-info
      order: 1 
      flex-basis: 100%
      margin-bottom: 20px
      flex-wrap: wrap
@media  ( max-width: 320px )
  .logo 
    width: 99px
  .hotel
    &-slider
      height: 200px
      &__slider
        margin-bottom: 20px
  .reviews
    &-slider
      &__text
        text-align: start
    &-title
      margin: auto
      max-width: 245px
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-align: center
      text-transform: uppercase
      margin-bottom: 40px
  .other
    &__container
      max-width: 320px
      justify-content: center
      grid-template-columns: repeat(auto-fill, 320px)
    &-van
      &__card
        display: none
